body {
  background-color: rgb(151, 183, 243);
}
.App {
	min-height: 100vh;
}
.heading-title {
  text-align: center;
}
.modal-start-game {
  width: 80%;
  max-width: 40.875rem;
  display: grid;
  place-content: center;
  margin: auto;
}
.main {
	display: grid;
	place-content: center;
}
.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding-inline: 1rem;
	max-width: 36.25rem;
  gap: .5rem;
}

.num-btn {
	padding: 1rem;
	font-size: 2rem;
	font-weight: 900;
}